@import "tailwindcss";

@theme {

    --color-primary: #e94f37;
    --color-secondaryBackground: #F1EFECs;
    --color-background: #f9f7f3;
    --color-text: #222222;
    --color-secondary : #00897B;
}
